* {
list-style: none;
}


form {
display : flex;
flex-direction: column;
width: 80%;
margin: auto;
}
label {
margin-block-start: 8px;
}


button {
width: fit-content;
margin-block-start: 10px;
cursor: pointer;
}

.errorList {
display: flex;
flex-direction: column;
color: red;
font-weight: bold;
font-size: 25px;
justify-content: center;
align-items: center;
}

